@Model YoutubeAPI
@{
    ViewBag.Title = "About";
}
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>

<body>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <div>
        @Html.Encode(ViewData["postData"])
    </div>
    <div>
        
        
    </div>
</body>
