
@{
    ViewBag.Title = "Home";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        @using (Html.BeginForm("About", "Home", null, FormMethod.Post))
        {
            <h1>ホーム画面</h1>

            @Html.TextBox("param", "", new { maxlength = 20 })
            <input type="submit" value="検索" />
        }
    </div>
</body>
</html>

