html {
    font-family: 'Potta One',Courier New, Courier, monospace;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Potta One',cursive;
    background-image: url('https://user-images.githubusercontent.com/46675984/105912238-7fb26980-606e-11eb-94df-ff41a41f5af5.jpg');
    background-size: cover;
}
.rangebar{
    align-content:center;
    text-align:center;
}
.font-google {
    font-family: 'Potta One' cursive;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    font-family: 'Potta One',cursive;
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    font-family: 'Potta One',cursive;
    max-width: 280px;
}
#reSearchBtn{
    border-radius:100%;
}