@{
    ViewBag.Title = "このサイトについて";
}
<h1>@ViewBag.Title</h1><br /><br />
<h3>@ViewBag.Message</h3>

<address>
    <strong>Github:</strong>   <a href="https://github.com/naonao0001777">naonao0001777</a><br />
</address>
<br />
<p>説明</p>
<p>
    このサイトはYouTubeLiveの動画URLの語尾にある、"="移行の動画IDを入力し、検索をすると、<br />
    チャットメッセージを取得してくるWebサイトです。
</p>
<br />
<address>
    <strong>Twitter:</strong>   <a href="https://twitter.com/salty_special">@@salty_special</a><br />
    <strong>Portfolio:</strong>   <a href="https://naonao0001777.github.io/">nao's portfolio</a><br />
</address>