@{
    ViewBag.Title = "このサイトについて";
}
<h1>@ViewBag.Title</h1><br /><br />
<h3>@ViewBag.Message</h3>

<address>
    <strong>Github:</strong>   <a href="https://github.com/naonao0001777" target="_blank" rel="noopener noreferrer">naonao0001777</a><br />
</address>
<br />
<p>説明</p>
<p>
    このサイトはYouTubeLiveの動画URLの語尾にあるクエリ"?v="以降の動画IDを入力し、検索をすると、<br />
    チャットメッセージを取得してくるWebサイトです。<br /><br />

    一回の取得で約750件を取得します（初期設定）<br />
    設定次第では、一度に検索する件数を増やすことが可能ですが、その分、処理が重くなります。<br />
</p>
<br />
<address>
    <strong>Twitter:</strong>   <a href="https://twitter.com/salty_special" target="_blank" rel="noopener noreferrer">@@salty_special</a><br />
    <strong>Portfolio:</strong>   <a href="https://naonao0001777.github.io/" target="_blank" rel="noopener noreferrer">nao's portfolio</a><br />
</address>