@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    aaa-〇〇〇@gmail.com<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>
<p>
    このサイトはYouTubeLiveの動画URLの語尾にある、"="移行の動画IDを入力し、検索をすると、<br/>
    チャットメッセージを取得してくるWebサイトです。
</p>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>