@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Github
    https://github.com/naonao0001777<br />
    
</address>
<p>
    このサイトはYouTubeLiveの動画URLの語尾にある、"="移行の動画IDを入力し、検索をすると、<br/>
    チャットメッセージを取得してくるWebサイトです。
</p>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>