
@{
    ViewBag.Title = "Home";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Potta+One&display=swap" rel="stylesheet">
</head>
<body>
    <br /><br /><br />
    <div class="center-block font-google">
        <center>
            <h1 style="font-size:70px">YouTubeのコメントを取得する<br />解析サイト</h1>
        </center>
    </div>
    <br><br><br><br><br><br>
    <div>
        @using (Html.BeginForm("Result", "Home", null, FormMethod.Post))
        {
            <div class="text-center font-google">
                <span>
                    @Html.TextBox("param", "", new { maxlength = 25 })
                    <input type="submit" value="コメントを取得" />
                </span>
            </div>
        }
    </div>
</body>
</html>

