@{
    ViewBag.Title = "Home";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Potta+One&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <style type="text/css">
        .loading {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0,0,0,.5);
            background-image: url('https://user-images.githubusercontent.com/46675984/123852276-14d7c800-d957-11eb-88f4-515d290b6597.gif');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center center;
            background-size: 100px 100px;
            z-index: 9999;
        }
    </style>
</head>
<body>
    <br /><br /><br />
    <div class="center-block font-google">
        <center>
            <h1 style="font-size:70px">YouTubeLiveのコメントを取得する <br /> 解析サイト</h1>
        </center>
    </div>
    <br><br><br><br>
    <div class="center-block">
        <form method="post" action="/Home/Result">
            <center>
                <div class="center-block">
                    <h4>取得数</h4>
                    <span>
                        <input type="range" id="range" value="750" name="quantity" min="0" max="1500" step="75">
                        <span id="quant">750</span>
                    </span>
                </div>
            </center>
            <br /><br />
            <div class="text-center">
                <span>
                    <input type="text" maxlength="25" name="param" />
                    <input type="submit" value="取得" id="cmtButton" style="border-radius:100%; text-align:center; width:60px;height:60px;" />
                </span>
            </div>
        </form>
    </div>
    <div class="loading hide"></div>
</body>
</html>
<script type="text/javascript">
    // ローディング
    $(function () {
        $('#cmtButton').on('click', function () {
            $.ajax({
                url: '../../Controller/HomeController.cs',
                type: 'POST',
                beforeSend: function () {
                    $('.loading').removeClass('hide');
                }
            }).done(function () {
                $('.loading').addClass('hide');
            })
        }
        )
    })
    // レンジバー
    var elem = document.getElementById('range');
    var target = document.getElementById('quant');
    var rangeValue = function (elem, target) {
        return function (evt) {
            target.innerHTML = range.value;
        }
    }
    elem.addEventListener('input', rangeValue(elem, target));
</script>
