
@{
    ViewBag.Title = "Home";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="center-block">
        <center>
            <h1>YouTubeのコメントを取得するWebサイト</h1>
        </center>
    </div>
    <br><br><br><br><br><br><br><br>
    <div>
        @using (Html.BeginForm("Result", "Home", null, FormMethod.Post))
        {
            <div class="text-center">
                <span class="media-middle">
                    @Html.TextBox("param", "", new { maxlength = 25 })
                    <input type="submit" value="コメントを取得" />
                </span>
            </div>
        }
    </div>
</body>
</html>

